body{
    @include bg-norepeat($bg-img);
}
ul{
    list-style: none;
    padding-left:0;
}
img{
    max-width: 100%;
    height:auto;
}
*,*::before,*::after{
	box-sizing:border-box;
}
a{
    color: blue;
    text-decoration: underline;
}
