$link-color:red;
$backdrop-color:rgba(0, 0, 0, 0.836);
$font-large:2rem;
$font-midium:1.6rem;
$font-midium-2:1.3rem;
$font-small:0.8rem;

//主題色系
$main_color:#f9f1ec;
$secondary_color:#926E56;
$decoration_color:#7FB1BA;
$decoration_color2:#5A6F49;
$decoration_color_alert:red;
$decoration_color_phone:blueviolet;
//圖片
$loading-img:url('../images/loading.svg');
$bg-img:url('../images/bg.jpg');

//icon
$icon-sprite:url('../images/icon.png')