/*-----------------------------------*/
/*cityFilter setting*/  
.cityFilter-header {
    color: white;
    background-color: $decoration_color2;
    height: 250px;
    border-radius: 20px;
    @include flex-just-aligh-center;
}

.cityFilter-content {
    margin-top: -50px;
    width: 95%;
    min-height: 800px;
    @include left-right-center;
}
/*-----------------------------------*/