/*-----------------------------------*/
/*home setting*/  
.hotScene,
.hotActivity,
.hotFood,
.hotHtel {
    @include flex-justifyContent(space-around);
    flex-wrap: wrap;
    margin-bottom: 10px;

    p {
        color: $decoration_color2;
        margin: 0;
    }
}

.home-header {
    color: white;
    background-color: $decoration_color;
    height: 250px;
    border-radius: 20px;
    @include flex-just-aligh-center;
}

.home-containter {
    width: 95%;
    min-height: 800px;
    @include left-right-center;
}
.card-bg{
    background: rgba(255, 255, 255, 0.5);
    width:100%;
}
.home-bigAdvanture{
    margin-top: -30%;
}
.randomIcon:hover{
    animation-name: randomAnimate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}
@keyframes randomAnimate {
    from{
        transform: rotate(15deg);
    }to{
        transform: rotate(-15deg);
    }
}
/*-----------------------------------*/