/*-----------------------------------*/
/*itemDisplay setting*/  
.itemInfo {
    max-width: 650px;
    flex-direction: column;
    align-items: flex-start;

    div {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    }
}

.discrption {
    text-indent: 32px;

    p {
        line-height: 2rem;
    }
}
.itemInfo-Spec {
    max-width: 450px;
}

.travelInfo {
    font-weight: bolder;
}

.itemDisplay-header {
    color: white;
    background-color: $decoration_color2;
    height: 250px;
    border-radius: 20px;
    @include flex-just-aligh-center;
}

.itemDisplay-contain {
    margin-top: -50px;
    width: 95%;
    min-height: 800px;
    @include left-right-center;
}

.itemDisplay-img {
    width: 40%;
    border-radius: 10px;
    overflow: hidden;

    img {
        width: 100%;
        height: auto;
    }
}

.itemDisplay-Discription {
    img {
        display: block;
    }
}
/*-----------------------------------*/