/*-----------------------------------*/
/*card setting*/  
//卡片遮罩
.drop{
    background-color: transparent;
    padding:1rem;
    width:100%;
    height:100%;
    left:0;
    top:0;
    p{
        color:white !important;
    }
    .drop-title{
        @include textOverFlowHidden(3);
        font-size: 1.1rem;
        font-weight: bold;
    }
    .card-p{
        opacity: 0;
        color:white;
    }
    .activityCard-startTime{
        opacity: 0;
    }
    .activityCard-orgnizer{
       @include textOverFlowHidden(1);
    }
}
@keyframes cardCity {
    from{
        opacity: 0;
    }to{
        transform: translateY(75px);
        opacity: 1;
    }
}
@keyframes dropTitle{
    from{
        
    }to{
        opacity: 1;
        // transform: translateY(180%);
        transform: translateY(80px);
    }
}
//景點卡
.sceneCard{
    width:45%;
    height:250px;
    align-items: center;
}
.sceneCard-img{
    height: 100%;
    overflow: hidden;
    padding: 0;
    img{
        height:100%;
    }
}
.sceneCard-content:hover{
    transform: translateX(-20px);
}
.sceneCard-content{
    margin-left: -25%;
    height:95%;
    background: rgba(255, 255, 255, 0.8);
    @include box-shadow;
    h3{
        font-size: $font-midium-2;
        font-weight: bolder;
        border-bottom: black 2px solid;
        padding-bottom: 10px;
    }
    p{
        @include textOverFlowHidden(3);
        margin: 5px;
    }
    i{
        @include textOverFlowHidden(1);
    }
    .bi-geo-alt-fill{
        color:$decoration_color_alert;
    }
    .btn{
        background-color: $decoration_color;
        margin-left: auto;
        line-height: 1;
    }
    .btn:hover{
        color:white;
    }
  }
  .scene-city{
    padding-right: 10px;
}
  .sceneCard-header{
      @include flex-justifyContent(space-between);
  }
//旅宿卡
.hotelCard{
    width:45%;
    height:250px;
    @include flex-justifyContent(space-between);
    flex-wrap: wrap;
    @include box-shadow;
}
.hotelCard-img{
    border: 1px blanchedalmond solid;
    height:100%;
    padding: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
    img{
        height:100%;
    }
}
.hotelCard-content{
    background-color: white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    height: 100%;
    .bi-telephone-forward-fill{
        color:$decoration_color_phone;
        margin-right: 5px;
    }
}
.hotelCard-header{
    @include flex-justifyContent(space-between);
}
.hotelName{
    border-bottom: 1px solid black;
    font-size: $font-midium-2;
    font-weight: bold;
}
.hotel-footer{
    display: flex;
    flex-direction: column;
}
.hotel-more{
    width:35%;
    margin-left: auto;
}
.phone{
    @include flex-justifyContent;
    align-items: center;
    background-color: #FBE9CF;
    @include box-shadow;
    border-radius: 5px;
    width:80%;
    height:40px;
    font-size: $font-small;
    font-weight:bolder;
}
.phone:hover{
    transform: scale(1.1);
}
//activity
.activityCard{
    @include box-shadow;
}
.activityCard-header{
    @include flex-justifyContent(space-between);
}
.activitiName{
    font-size: $font-midium-2;
    border-bottom: 1px solid black;
    font-weight: bold;
}
.activityCard-content{
    background: rgba(255, 255, 255, 0.5);
}
.activityCard-footer{
    background: rgba(255, 255, 255, 0.5);
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}
.activityCard-img{
    width:100%;
    height:300px;
}
.activityCard-startTime{
    color:red !important;
}
.activityCard-img:hover .drop{
    background-color: rgba(0, 0, 0, 0.418);
    .drop-title{
        animation-duration: .5s;
        animation-name: dropTitle;
        animation-fill-mode: forwards;
    }
    .card-p{
        animation-duration: 1s;
        animation-name: cardCity;
        animation-fill-mode: forwards;
    }
    .bi-geo-alt-fill{
        color:red;
    }
    .activityCard-startTime{
        opacity: 1;
    }
}
//food
.foodCard-img{
    height:250px;
}
.foodCard-img:hover .drop{
    background-color: rgba(0, 0, 0, 0.418);
    .drop-title{
        animation-duration: .5s;
        animation-name: dropTitle;
        animation-fill-mode: forwards;
    }
    .card-p{
        animation-duration: 1s;
        animation-name: cardCity;
        animation-fill-mode: forwards;
    }
    .bi-geo-alt-fill{
        color:red;
    }
}
.foodCard{
    border-radius: 10px;
    @include box-shadow-around;
    background-color: transparent;
}
.food-collect{
    top:-5%;
    left:-5%;
}
//拖拉卡
//拖曳物
.drageItem{
    cursor: pointer;
    background-color: $decoration_color2;
}
.drageItem-img{
    width:150px;
    height:100px;
    img{
        width:100%;
        height:100%;
    }
}
.dragItem-content{
    width:150px;
    height:120px;
    background-color: white;
    p{
        margin: 0;
    }
}
/*-----------------------------------*/