/*-----------------------------------*/
/*nav setting*/  
.tripNav{
    width:8%;
    height:80vh;
    position: fixed;
    top:10%;
    left:3%;
    background: rgba(255, 255, 255, 0.863);
    border: 2px solid #D9D4D4;
    box-shadow: 5px 5px 0px rgba(188, 180, 180, 0.5);
    @include flex-justifyContent(center);
    flex-direction: column;
    align-items: center;
    z-index: 1;
    a{
        cursor: pointer;
    }
}
.tripBG{
    min-width: 100%;
}
.nav-mobile{
    .navbar{
        background: rgba(255, 255, 255, 0.863);
        border: 2px solid #D9D4D4;
    }
    ul{
        align-items: center;
    }
}
/*-----------------------------------*/