.tripNav{
    width:10%;
    position: fixed;
    top:10%;
    left:3%;
    background: rgba(255, 255, 255, 0.863);
    border: 2px solid #D9D4D4;
    box-shadow: 10px 10px 4px rgba(188, 180, 180, 0.5);
    @include flex-justifyContent(center);
    flex-direction: column;
    align-items: center;
    a{
        cursor: pointer;
    }
}
.tripBG{
    top:0;
    right:0;
}