.schedule{
    border: blue 1px solid;
    overflow: hidden;
}
.selectDate{
    background-color: burlywood;
}
.scheduleDragContainer{
    background-color: chocolate;
}


//ScheduleOrder.vue
.scheduleHeader{
    cursor: pointer;
    div {
        border:blue 1px solid;
        background-color: brown;
        color: wheat;
    }
}
.activeSchedule{
    background-color: yellowgreen !important;
    color: black !important;
}

//ScheduleItem
.dragContainer{
    @include flex-justifyContent(flex-start);
    height:100px;
    background-color: white;
}