    .sv{
        height:350px;  
        background-color: yellow;
        fill:yellowgreen;
        stroke: white;
    }
    .active{
      fill: red;
    }
    .hover{
        fill: burlywood;
        cursor: pointer;
    }