    .sv{
        height:350px;  
        // background-color: yellow;
        fill:#A8CDD7;
        stroke: white;
    }
    .island{
        top:-5%;
        left:20%;
    }
    .active{
      fill: red;
    }
    .hover{
        fill: #C57B7A;
        cursor: pointer;
    }
   .ponho{
       margin-left:20%;
   }
   .kin{
       margin-left: -20%;
   }