@charset "UTF-8";
.decorateLine {
  width: 80%;
  border-bottom: #5A6F49 solid 5px;
  margin-bottom: 20px;
}

.cusButton {
  background-color: #892621;
  color: white;
}

.cusButton:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.title-font {
  font-size: 2rem;
}

.subTitle-font {
  font-size: 1.6rem;
}

.subTitle2-font {
  font-size: 1.3rem;
}

.text-font {
  font-size: 0.8rem;
}

.lineHeight {
  line-height: 1.5rem;
}

.fade-left-enter-active,
.fade-left-leave-active,
.fade-right-enter,
.fade-right-leave-to {
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.fade-left-enter,
.fade-left-leave-to,
.fade-right-enter,
.fade-right-leave-to {
  opacity: 0;
}

.fade-left-leave-to {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.fade-right-leave-to {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.working {
  background-repeat: no-repeat;
  background-image: url("../images/working.jpg");
  width: 600px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.sceneHeaderBg {
  width: 100%;
  height: 80vh;
  background-image: url("../images/sceneBg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.fiveStarHotel {
  background-image: url("../images/fiveHotel.jpg");
  background-size: cover;
  width: 100;
  height: 100;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  color: white;
}

.fiveStarHotel:hover {
  color: black;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.babyHotel {
  background-image: url("../images/babyHotel.jpg");
  background-size: cover;
  width: 100;
  height: 100;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  color: white;
}

.babyHotel:hover {
  color: black;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.spa {
  background-image: url("../images/spa.jpeg");
  background-size: cover;
  width: 100;
  height: 100;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  color: white;
}

.spa:hover {
  color: black;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.sea {
  background-image: url("../images/ocenHotel.png");
  background-size: cover;
  width: 100;
  height: 100;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  color: white;
}

.sea:hover {
  color: black;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.trail {
  background-image: url("../images/trail.png");
  background-size: cover;
  width: 100;
  height: 100;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  color: white;
}

.trail:hover {
  color: black;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.babyScene {
  background-image: url("../images/babyScene.jpg");
  background-size: cover;
  width: 100;
  height: 100;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  color: white;
}

.babyScene:hover {
  color: black;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.diy {
  background-image: url("../images/diy.jpg");
  background-size: cover;
  width: 100;
  height: 100;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  color: white;
}

.diy:hover {
  color: black;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.chineseFood {
  background-image: url("../images/chineseFood.png");
  background-size: cover;
  width: 100;
  height: 100;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  color: white;
}

.chineseFood:hover {
  color: black;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.exotic {
  background-image: url("../images/exotic.jpg");
  background-size: cover;
  width: 100;
  height: 100;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  color: white;
}

.exotic:hover {
  color: black;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.coffe {
  background-image: url("../images/coffe.jpg");
  background-size: cover;
  width: 100;
  height: 100;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  color: white;
}

.coffe:hover {
  color: black;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.brunch {
  background-image: url("../images/brunch.jpg");
  background-size: cover;
  width: 100;
  height: 100;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  color: white;
}

.brunch:hover {
  color: black;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.hipster {
  background-image: url("../images/hipster.jpg");
  background-size: cover;
  width: 100;
  height: 100;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  color: white;
}

.hipster:hover {
  color: black;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.festival {
  background-image: url("../images/festival.jpg");
  background-size: cover;
  width: 100;
  height: 100;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  color: white;
}

.festival:hover {
  color: black;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.music {
  background-image: url("../images/music.jpg");
  background-size: cover;
  width: 100;
  height: 100;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  color: white;
}

.music:hover {
  color: black;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.squid {
  background-image: url("../images/squid.jpg");
  background-size: cover;
  width: 100;
  height: 100;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  color: white;
}

.squid:hover {
  color: black;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.collect {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 39px;
  height: 39px;
  background-position: 0px 0px;
  background-size: 1287px auto;
}

.collectforNav {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 58.5px;
  height: 58.5px;
  background-position: 0px 0px;
  background-size: 1930.5px auto;
}

.disCollect {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 39px;
  height: 39px;
  background-position: -39px 0px;
  background-size: 1287px auto;
}

.bootstrapIcon {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 39px;
  height: 39px;
  background-position: -78px 0px;
  background-size: 1287px auto;
}

.figamaIcon {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 39px;
  height: 39px;
  background-position: -117px 0px;
  background-size: 1287px auto;
}

.typscriptIcon {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 39px;
  height: 39px;
  background-position: -1248px 0px;
  background-size: 1287px auto;
}

.vueIcon {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 39px;
  height: 39px;
  background-position: -1053px 0px;
  background-size: 1287px auto;
}

.icons8Icon {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 39px;
  height: 39px;
  background-position: -624px 0px;
  background-size: 1287px auto;
}

.randomIcon {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 58.5px;
  height: 58.5px;
  background-position: -234px 0px;
  background-size: 1930.5px auto;
}

.tszIcon {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 39px;
  height: 39px;
  background-position: -195px 0px;
  background-size: 1287px auto;
}

.scheduleIcon {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 58.5px;
  height: 58.5px;
  background-position: -351px 0px;
  background-size: 1930.5px auto;
}

.addScheduleIcon {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 58.5px;
  height: 58.5px;
  background-position: -1287px 0px;
  background-size: 1930.5px auto;
}

.seeScheduleIcon {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 39px;
  height: 39px;
  background-position: -975px 0px;
  background-size: 1287px auto;
}

.clanderIcon {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 39px;
  height: 39px;
  background-position: -351px 0px;
  background-size: 1287px auto;
}

.deleteIcon {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 39px;
  height: 39px;
  background-position: -390px 0px;
  background-size: 1287px auto;
}

.filterIcon {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 65px;
  height: 65px;
  background-position: -1690px 0px;
  background-size: 2145px auto;
}

.sceneIcon {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 58.5px;
  height: 58.5px;
  background-position: -468px 0px;
  background-size: 1930.5px auto;
}

.activityIcon {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 58.5px;
  height: 58.5px;
  background-position: -994.5px 0px;
  background-size: 1930.5px auto;
}

.foodIcon {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 58.5px;
  height: 58.5px;
  background-position: -1404px 0px;
  background-size: 1930.5px auto;
}

.hotelIcon {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 58.5px;
  height: 58.5px;
  background-position: -877.5px 0px;
  background-size: 1930.5px auto;
}

.priceIcon {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 39px;
  height: 39px;
  background-position: -507px 0px;
  background-size: 1287px auto;
}

.hotelGradeIcon {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 39px;
  height: 39px;
  background-position: -897px 0px;
  background-size: 1287px auto;
}

.searchIcon {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 39px;
  height: 39px;
  background-position: -702px 0px;
  background-size: 1287px auto;
}

.organizerIcon {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 39px;
  height: 39px;
  background-position: -780px 0px;
  background-size: 1287px auto;
}

.webSiteIcon {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 39px;
  height: 39px;
  background-position: -1092px 0px;
  background-size: 1287px auto;
}

.locationIcon {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 39px;
  height: 39px;
  background-position: -1131px 0px;
  background-size: 1287px auto;
}

.locationIcon2 {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 26px;
  height: 26px;
  background-position: -754px 0px;
  background-size: 858px auto;
}

.phoneIcon {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 39px;
  height: 39px;
  background-position: -819px 0px;
  background-size: 1287px auto;
}

.bigAdventureIcon {
  cursor: pointer;
  background-image: url("../images/icon.png");
  width: 58.5px;
  height: 58.5px;
  background-position: -1813.5px 0px;
  background-size: 1930.5px auto;
}

.kin:hover {
  cursor: pointer;
  background-image: url("../images/island.png");
  width: 159.5px;
  height: 94.5px;
  background-position: 0px 0px;
  background-size: 957px auto;
}

.kin {
  cursor: pointer;
  background-image: url("../images/island.png");
  width: 159.5px;
  height: 94.5px;
  background-position: -797.5px 0px;
  background-size: 957px auto;
}

.ponho:hover {
  cursor: pointer;
  background-image: url("../images/island.png");
  width: 159.5px;
  height: 94.5px;
  background-position: -159.5px 0px;
  background-size: 957px auto;
}

.ponho {
  cursor: pointer;
  background-image: url("../images/island.png");
  width: 159.5px;
  height: 94.5px;
  background-position: -478.5px 0px;
  background-size: 957px auto;
}

.langjon {
  cursor: pointer;
  background-image: url("../images/island.png");
  width: 159.5px;
  height: 94.5px;
  background-position: -638px 0px;
  background-size: 957px auto;
}

.langjon:hover {
  cursor: pointer;
  background-image: url("../images/island.png");
  width: 159.5px;
  height: 94.5px;
  background-position: -319px 0px;
  background-size: 957px auto;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

body {
  background-image: url("../images/bg.jpg");
  background-repeat: repeat;
}

ul {
  list-style: none;
  padding-left: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bolder;
  text-align: center;
}

.container {
  margin-top: 35%;
  margin-bottom: 10%;
}

::-webkit-scrollbar {
  width: 10px;
  /*竖向滚动条的宽度*/
  height: 10px;
  /*横向滚动条的高度*/
}

::-webkit-scrollbar-thumb {
  /*滚动条里面的小方块*/
  background-color: rgba(255, 255, 255, 0.863);
  border-radius: 44px;
  border: 1px solid #D9D4D4;
}

::-webkit-scrollbar-track {
  /*滚动条轨道的样式*/
  background: transparent;
}

.miniSelectBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#d8e6f5), to(#edf3f8));
  background-image: linear-gradient(to bottom right, #d8e6f5, #edf3f8);
  -webkit-box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
          box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #ffffff, 4px 4px 20px rgba(111, 140, 176, 0.41);
  border-radius: 7px;
}

.miniSelectBtn div {
  -webkit-filter: drop-shadow(1px 1px 1px rgba(5, 5, 5, 0.8)) drop-shadow(-1px -1px 1px white);
          filter: drop-shadow(1px 1px 1px rgba(5, 5, 5, 0.8)) drop-shadow(-1px -1px 1px white);
}

.miniSelectBtn p {
  font-size: 1.3rem;
}

.miniSelectBtn:hover {
  background: rgba(0, 0, 0, 0.836);
  border-radius: 7px;
  -webkit-box-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.88), inset 4px 4px 14px #c1d5ee;
          box-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.88), inset 4px 4px 14px #c1d5ee;
}

.LoadingPage {
  top: 0;
  background-color: rgba(0, 0, 0, 0.836);
  background-image: url("../images/loading.svg");
  color: beige;
  font-size: 1.6rem;
  background-repeat: no-repeat;
  background-position: center center;
}

.drop {
  background-color: transparent;
  padding: 1rem;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.drop p {
  color: white !important;
}

.drop .drop-title {
  font-size: 1.3rem;
  font-weight: bold;
}

.drop .card-city {
  opacity: 0;
  color: white;
}

@-webkit-keyframes cardCity {
  from {
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(75px);
            transform: translateY(75px);
    opacity: 1;
  }
}

@keyframes cardCity {
  from {
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(75px);
            transform: translateY(75px);
    opacity: 1;
  }
}

@-webkit-keyframes dropTitle {
  from {
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
  }
}

@keyframes dropTitle {
  from {
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
  }
}

.sceneCard {
  width: 45%;
  height: 250px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sceneCard-img {
  height: 100%;
  overflow: hidden;
  padding: 0;
}

.sceneCard-img img {
  height: 100%;
}

.sceneCard-content:hover {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

.sceneCard-content {
  margin-left: -25%;
  height: 95%;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.sceneCard-content h3 {
  font-size: 1.3rem;
  font-weight: bolder;
  border-bottom: black 2px solid;
  padding-bottom: 10px;
}

.sceneCard-content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 5px;
}

.sceneCard-content i {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.sceneCard-content .bi-geo-alt-fill {
  color: red;
}

.sceneCard-content .btn {
  background-color: #892621;
  margin-left: auto;
  line-height: 1;
}

.sceneCard-content .btn:hover {
  color: white;
}

.scene-city {
  padding-right: 10px;
}

.sceneCard-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hotelCard {
  width: 45%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.hotelCard-img {
  border: 1px blanchedalmond solid;
  height: 100%;
  padding: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.hotelCard-img img {
  height: 100%;
}

.hotelCard-content {
  background-color: white;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  height: 100%;
}

.hotelCard-content .bi-telephone-forward-fill {
  color: blueviolet;
  margin-right: 5px;
}

.hotelCard-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hotelName {
  border-bottom: 1px solid black;
  font-size: 1.3rem;
  font-weight: bold;
}

.hotel-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hotel-more {
  width: 35%;
  margin-left: auto;
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FBE9CF;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 80%;
  height: 40px;
  font-size: 0.8rem;
  font-weight: bolder;
}

.phone:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.activityCard {
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.activityCard-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.activitiName {
  font-size: 1.3rem;
  border-bottom: 1px solid black;
  font-weight: bold;
}

.activityCard-content {
  background: rgba(255, 255, 255, 0.5);
}

.activityCard-footer {
  background: rgba(255, 255, 255, 0.5);
  -webkit-filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.activityCard-img {
  width: 100%;
  height: 300px;
}

.activityCard-img:hover .drop {
  background-color: rgba(0, 0, 0, 0.418);
}

.activityCard-img:hover .drop .drop-title {
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-name: dropTitle;
          animation-name: dropTitle;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.activityCard-img:hover .drop .card-city {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: cardCity;
          animation-name: cardCity;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.activityCard-img:hover .drop .bi-geo-alt-fill {
  color: red;
}

.foodCard-img {
  height: 250px;
}

.foodCard-img:hover .drop {
  background-color: rgba(0, 0, 0, 0.418);
}

.foodCard-img:hover .drop .drop-title {
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-name: dropTitle;
          animation-name: dropTitle;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.foodCard-img:hover .drop .card-city {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: cardCity;
          animation-name: cardCity;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.foodCard-img:hover .drop .bi-geo-alt-fill {
  color: red;
}

.foodCard {
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  background-color: transparent;
}

.food-collect {
  top: -5%;
  left: -5%;
}

.drageItem {
  cursor: pointer;
  background-color: #5A6F49;
}

.drageItem-img {
  width: 150px;
  height: 100px;
}

.drageItem-img img {
  width: 100%;
  height: 100%;
}

.dragItem-content {
  width: 150px;
  height: 120px;
  background-color: white;
}

.dragItem-content p {
  margin: 0;
}

.sv {
  height: 350px;
  fill: #A8CDD7;
  stroke: white;
}

.island {
  top: -5%;
  left: 20%;
}

.active {
  fill: red;
}

.hover {
  fill: #C57B7A;
  cursor: pointer;
}

.ponho {
  margin-left: 20%;
}

.kin {
  margin-left: -20%;
}

.L-map {
  height: 400px;
}

.overlay-content {
  cursor: pointer;
  font-weight: bold;
}

.bi-arrow-bar-right {
  color: red;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.bi-box-arrow-in-left {
  color: blue;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.carousel-item {
  overflow: hidden;
}

.carousel-item img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: all;
  transition: all;
}

.schedule {
  border: blue 1px solid;
  overflow: hidden;
}

.selectDate {
  background-color: burlywood;
}

.scheduleDragContainer {
  background-color: chocolate;
}

.scheduleHeader {
  cursor: pointer;
}

.scheduleHeader div {
  border: blue 1px solid;
  background-color: brown;
  color: wheat;
}

.activeSchedule {
  background-color: yellowgreen !important;
  color: black !important;
}

.dragContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 500px;
  background-color: white;
}

.tripNav {
  width: 10%;
  height: 80vh;
  position: fixed;
  top: 10%;
  left: 3%;
  background: rgba(255, 255, 255, 0.863);
  border: 2px solid #D9D4D4;
  -webkit-box-shadow: 10px 10px 4px rgba(188, 180, 180, 0.5);
          box-shadow: 10px 10px 4px rgba(188, 180, 180, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.tripNav a {
  cursor: pointer;
}

.tripBG {
  min-width: 100%;
}

.nav-mobile .navbar {
  background: rgba(255, 255, 255, 0.863);
  border: 2px solid #D9D4D4;
}

.nav-mobile ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wheretoGo-title {
  font-weight: bolder;
}

.diplayTab {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nearbyContainer {
  min-height: 250px;
  height: 100%;
}

.nearbyContainer .nav-item {
  background-color: rgba(255, 228, 196, 0.259);
}

.nearbyContainer .nav-item .nav-link {
  cursor: pointer;
  letter-spacing: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #926E56;
  font-weight: 900;
}

.nearbyContainer-content {
  background-color: rgba(255, 228, 196, 0.459);
}

.nearByBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow-x: scroll;
}

.nearbyType {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: upright;
}

.searchNearby {
  width: 100%;
}

.search-container {
  width: 30%;
  background-color: aquamarine;
  height: 50px;
}

.search-nearby {
  cursor: pointer;
}

.header {
  width: 100%;
  height: 80vh;
  position: absolute;
  top: 0;
  z-index: -1;
}

.back-to-top {
  bottom: -4%;
}

.hotScene,
.hotActivity,
.hotFood,
.hotHtel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
}

.hotScene p,
.hotActivity p,
.hotFood p,
.hotHtel p {
  color: #5A6F49;
  margin: 0;
}

.home-header {
  color: white;
  background-color: #892621;
  height: 250px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-containter {
  width: 95%;
  min-height: 800px;
  margin-left: auto;
  margin-right: auto;
}

.card-bg {
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
}

.footer {
  background-color: #926E56;
  text-align: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.devTool, .devAuth {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cardList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quickFilte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.quickFilte button {
  width: 100px;
}

.collection-header {
  color: white;
  background-color: #5A6F49;
  height: 250px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.collection-body {
  margin-top: -50px;
  width: 95%;
  min-height: 800px;
  margin-left: auto;
  margin-right: auto;
}

.itemInfo {
  max-width: 650px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.itemInfo div {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.discrption {
  text-indent: 32px;
}

.discrption p {
  line-height: 2rem;
}

.itemInfo-Spec {
  max-width: 450px;
}

.travelInfo {
  font-weight: bolder;
}

.itemDisplay-header {
  color: white;
  background-color: #5A6F49;
  height: 250px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.itemDisplay-contain {
  margin-top: -50px;
  width: 95%;
  min-height: 800px;
  margin-left: auto;
  margin-right: auto;
}

.itemDisplay-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.itemDisplay-img {
  width: 40%;
  border-radius: 10px;
  overflow: hidden;
}

.itemDisplay-img img {
  width: 100%;
  height: auto;
}

.itemDisplay-Discription img {
  display: block;
}

.cityFilter-header {
  color: white;
  background-color: #5A6F49;
  height: 250px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cityFilter-content {
  margin-top: -50px;
  width: 95%;
  min-height: 800px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1281px) {
  .navLi a {
    font-size: 0.9rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1280px) and (max-height: 610px) {
  .header {
    height: 100vh !important;
  }
}

@media screen and (max-width: 1280px) {
  .header {
    height: 40vh;
  }
  .hotelCard {
    height: auto;
  }
  .phone {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .tripNav {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    z-index: 99;
    top: 0;
    height: 10vh;
  }
  .tripNav-body {
    width: 100%;
  }
  .navItem {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 0;
  }
  .navItem li {
    margin-bottom: 0px !important;
  }
  .navLi a {
    font-size: 1rem;
  }
  .tripBG {
    display: none;
  }
  .back-to-top {
    bottom: -200%;
    right: 0;
  }
  .tszIcon {
    width: 65px;
    height: 65px;
    background-position: -325px 0px;
    background-size: 2145px auto;
  }
}

@media screen and (max-width: 1024px) {
  .hotelCard {
    height: 100%;
  }
  .hotelCard-img {
    border-radius: 10px;
    height: 250px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .hotelCard-content {
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }
  .phone {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hotel-more {
    width: 25%;
  }
  .footertext {
    font-size: 1.3rem;
  }
  .nearbyType {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .sceneCard {
    height: 100%;
  }
  .sceneCard-content {
    height: 100%;
  }
  .sceneCard-content {
    margin-left: 0 !important;
  }
  .sceneCard-img {
    height: 200px;
  }
  .sceneCard-content h3 {
    font-size: 1.6rem;
  }
  .hotelCard {
    height: auto;
  }
  .hotelCard-content {
    height: auto;
  }
  .footertext {
    font-size: 0.8rem;
  }
  .nearbyContainer .nav-item .nav-link {
    letter-spacing: 0.5rem;
  }
}

@media screen and (max-width: 540px) {
  .tripNav-body {
    width: 120%;
  }
  .navLi a {
    font-size: 0.9rem;
  }
  .nearbyContainer .nav-item .nav-link {
    letter-spacing: 0rem;
  }
}

@media screen and (max-width: 414px) {
  .home-header h1 {
    font-size: 1.6rem;
  }
  .quickFilte button {
    width: auto;
  }
  .mynearbyItem-contain {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .nearbyContainer .nav-item .nav-link {
    letter-spacing: 1rem;
  }
}

@media screen and (max-width: 375px) {
  .bigAdventureIcon {
    width: 39px;
    height: 39px;
    background-position: -1209px 0px;
    background-size: 1287px auto;
  }
  .nearbyContainer .nav-item .nav-link {
    letter-spacing: 0.7rem;
  }
}

@media screen and (max-width: 320px) {
  .wheretoGo-title {
    font-size: 1rem;
  }
  .header {
    height: 40vh !important;
  }
  .home-header h1 {
    font-size: 1.3rem;
  }
  .itemDisplay-header h1 {
    font-size: 1.5em;
    margin-right: 0.5rem;
  }
  .nearbyContainer .nav-item .nav-link {
    letter-spacing: 0.4rem;
  }
}

@media screen and (max-width: 280px) {
  .bigAdventureIcon {
    width: 32.5px;
    height: 32.5px;
    background-position: -1007.5px 0px;
    background-size: 1072.5px auto;
  }
  .wheretoGo-title {
    font-size: 0.8rem;
  }
  .itemDisplay-header h1 {
    font-size: 1.3em;
  }
  .nearbyContainer .nav-item .nav-link {
    letter-spacing: 0rem;
  }
}
/*# sourceMappingURL=app.css.map */