.header{
    
}
.nav{
    width:5%;
    position: sticky;
    top:10%;
    background-color: rgba(254, 224, 177, 0.5);
    box-shadow: 10px 10px 4px rgba(188, 180, 180, 0.5);
    @include flex-justifyContent(space-between);
    flex-direction: column;
}