
@mixin bgImg-center-norepeat {
    background-repeat: no-repeat;
    background-position: center center;
}
@mixin textOverFlowHidden($lineClamp){
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lineClamp;
    -webkit-box-orient: vertical;
}

//RWD
@mixin desktop-below {
    @media (max-width:1023px) {
        @content
    }
}

@mixin pad {
    @media (max-width:768px) {
        @content
    }
}

@mixin mobile {
    @media (max-width:568px) {
        @content
    }
}