
//display
.flex{
    display: flex;
}

//line
.decorateLine {
    width:100%;
    border:$decoration_color2 solid 5px;
    margin-bottom: 20px;
}

//font
.title-font {
    font-size: $font-large;
}
.subTitle-font {
    font-size: $font-midium;
}
.subTitle2-font {
    font-size: $font-midium-2;
}
.text-font {
    font-size: $font-small;
}

//fade動畫
.fade-left-enter-active, .fade-left-leave-active ,.fade-right-enter , .fade-right-leave-to { //進入和出去的過程是0.5s，漸進完成動畫
    transition: all .5s ease-out;
  }
.fade-left-enter, .fade-left-leave-to ,.fade-right-enter , .fade-right-leave-to { //進入和出去的最後都是opacity0
   opacity: 0;
  }
.fade-left-leave-to  {
    transform: translateX(-100%);
}

.fade-right-leave-to  {
    transform: translateX(100%);
}