$link-color:red;
$backdrop-color:rgba(0, 0, 0, 0.836);
$font-large:2rem;
$font-midium:1.6rem;
$font-midium-2:1.3rem;
$font-small:0.8rem;

//主題色系
$main_color:red;
$secondary_color:blue;
$decoration_color:yellow;


//loading 圖片
$loading-img:url('../images/loading.svg')