/*-----------------------------------*/
/*Rwd setting*/  
@media screen and (min-width: 1281px) {
    .navLi{
        a{
            font-size: 0.9rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
@media screen and (max-width: 1280px) and (max-height: 610px) {
    .header{
        height:100vh !important;
    }
}
@media screen and (max-width: 1280px) {
    .header{
        height:40vh;
    }
    .hotelCard{
        height:auto;
    }
    .phone{
        flex-direction: column;
        align-items: flex-start;
    }
    .tripNav{
        width:100%;
        position: sticky;
        z-index:99;
        top:0;
        height:10vh;
    }
    .tripNav-body{
        width: 100%;
    }
    .navItem{
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 0;
        li{
            margin-bottom: 0px !important;
        }
    }
    .navLi{
        a{
            font-size: 1rem;
        }
    }
    .tripBG{
        display: none;
    }
    .back-to-top{
        bottom: -200%;
        right:0;
    }
    .tszIcon{
        @include iconScale(-325,0,1)
    }
}
@media screen and (max-width: 1024px) {
    .container{
        margin-top: 50%;
    }
    .hotelCard-img{
        border-radius: 10px;
        height:250px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .hotelCard-content{
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }
    .home-bigAdvanture {
        margin-top: 4%;
    }
    .phone{
        flex-direction: row;
        align-items: center;
    }
    .hotel-more{
        width:25%;
    }
    .footertext{
        font-size: $font-midium-2;
    }
    .nearbyType{
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .sceneCard{
        height:100%;
    }
    .sceneCard-content{
        height:100%;
    }
    .sceneCard-content{
        margin-left: 0 !important;
    }
    .sceneCard-img {
        height:200px;
    }
    .sceneCard-content h3{
        font-size:$font-midium;
    }
    .hotelCard{
        height:auto;
    }
    .hotelCard-content{
        height: auto;
    }
    .footertext{
        font-size: $font-small;
    }
    .nearbyContainer {
        .nav-item {
            .nav-link{
               letter-spacing: 0.5rem;
            }
        }
    }
    .itemDisplay-img{
        width:80%;
    }
}
@media screen and (max-width:540px){
    .container{
        margin-top: 55%;
    }
    .tripNav-body {
        width: 120%;
    }
    .bigAdvanture{
        width:200px;
        height:266.6666px;
    }
    .card-down{
        padding:5px !important;
        p{
            margin-bottom: 0;
        }
    }
    .navLi{
        a{
            font-size: 0.9rem;
        }
    }
    .nearbyContainer {
        .nav-item {
            .nav-link{
               letter-spacing: 0rem;
            }
        }
    }
}
@media screen and (max-width: 414px) {
    .bigAdvanture{
        width:150px;
        height:200px;
        .img{
            width:80px;
            height:80px;
        }
    }
    .advanture-sub-text{
        font-size: $font-small;
    }
    .card-down{
        .bigAdventureIcon{
            display: none;
        }
        p{
            font-size: 12px;
        }
        .bigAdventureIcon + p{
            color:blue;
        }
    }
    .container{
        margin-top: 75%;
    }
    .home-header{
        h1{
            font-size: $font-midium;
        }
    }
    .quickFilte{
        button{
            width:auto;
        }
    }
    .mynearbyItem-contain{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .nearbyContainer {
        .nav-item {
            .nav-link{
               letter-spacing: 1rem;
            }
        }
    }
}
@media screen and (max-width: 375px){
    .bigAdventureIcon{
        @include iconScale(-2015, 0, 0.6)
    }
    .nearbyContainer {
        .nav-item {
            .nav-link{
               letter-spacing: 0.7rem;
            }
        }
    }
}
@media screen and (max-width: 320px){
    .bigAdvanture{
        width:100px;
        height:134px;
        .img{
            width:50px;
            height:50px;
        }
    }
    .miniSelectBtn{
        font-size: 14px;
    }
    .card-down{
        p{
            font-size: 12px;
        }
    }
    .wheretoGo-title{
        font-size: 1rem;
    }
    .header{
        height:40vh !important;
    }
    .home-header h1{
        font-size: 1.3rem;
    }
    .itemDisplay-header h1 {
        font-size: 1.5em;
        margin-right: 0.5rem;
    }
    .nearbyContainer {
        .nav-item {
            .nav-link{
               letter-spacing: 0.4rem;
            }
        }
    }
}
@media screen and (max-width: 280px){
    .container{
        margin-top: 95%;
    }
    .miniSelectBtn{
        font-size: 12px;
    }
    .bigAdventureIcon{
        @include iconScale(-2015, 0, 0.5)
    }
    .wheretoGo-title{
        font-size: 0.8rem;
    }
    .itemDisplay-header h1 {
        font-size: 1.3em;
    }
    .nearbyContainer {
        .nav-item {
            .nav-link{
               letter-spacing: 0rem;
            }
        }
    }
}
/*-----------------------------------*/